table,th,td
{
  border: 1px solid black;
}

.tamil-title
{
  color: green;
  font-size: 20px;
  font-weight: bold;
}

.tamil-subtitle
{
  color: #0c7489;
  font-size: 16px;
  font-weight: bold;
}

@media (min-width: 992px)
{
  .teacher-img
  {
   height: 300px;
  }
}